<h1>Add Article</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(form) }}

<div>
    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
</div>

<div>
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
</div>

<div>
    {{ form_label(form.saveArticle) }}
    {{ form_errors(form.saveArticle) }}
    {{ form_widget(form.saveArticle) }}
</div>

<div>
    {{ form_widget(form.save) }}
</div>

{{ form_end(form) }}
